global-reset()

html, body, #content
	height: 100%
body
	width: 100%
	font-size: 100%
	font-family: 'Open Sans Condensed'
	background-color: black
	color: white

.commentFormContainer
	position: fixed
	background: white
	width: 100%
	padding: 2%
	top: 0
	
.commentFormContainer h1
	color: black
	margin-bottom: .4%

.commentForm input
	border-width: 0 0 1px 0

.commentForm input:first-child
	margin-right: 1.4%

.formSubmit
	background-color: rgba(0, 0, 0, 1)
	color: white
	border: none
	cursor: pointer
	margin-left: 1.4%

.commentList
	margin-top: 14%
	display: flex
	flex-flow: row wrap
	width: 100vw
	padding: 0 1% 0 1%
	box-sizing: border-box

.comment
	width: 100vw
	height: auto
	margin-bottom: 2%
	border: 1px solid rgba(255, 255, 255, .18)
	border-width: 0 0 0 1px
	padding-left: 1%
	box-sizing: border-box
	
	@media screen and (min-width: 50em)
		width: 30vw

.commentAuthor
	font-size: 2.6vw
	text-transform: uppercase
	@media screen and (min-width: 50em)
		font-size 1.2vw
	
.comment p 
	font-size: 5.4vw
	line-height: 3.2vh
	padding-bottom: 1%
	@media screen and (min-width: 50em)
		font-size 3.0vw
		line-height: 5.2vh

.comment:nth-child(3n -1)
	margin: 0 0 2% 0
	@media screen and (min-width: 50em)
		margin: 0 1.5% 2% 1.5%
	